<form #templateForm="ngForm" (ngSubmit)="agregarAlumno()">
  <ion-item [class.invalid]="templateForm.invalid && templateForm.dirty && templateForm.touched">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input
      type="text"
      name="nombre"
      [(ngModel)]="nuevoAlumno.nombre"
      required
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Presente</ion-label>
    <ion-toggle
      name="presente"
      [(ngModel)]="nuevoAlumno.presente"
    ></ion-toggle>
  </ion-item>

  <ion-button type="submit" [disabled]="templateForm.invalid">Agregar</ion-button>
</form>

<!-- Lista de alumnos -->
<ion-list>
  <ion-item *ngFor="let alumno of alumnos">
    <ion-label>{{ alumno.nombre }}</ion-label>
    <ion-toggle [checked]="alumno.presente"></ion-toggle>
  </ion-item>
</ion-list>