<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="producto">
    <ion-img [src]="producto.image" alt="Imagen del producto"></ion-img>
    <ion-card-content>
      <ion-card-title>{{ producto.title }}</ion-card-title>
      <p>Precio: {{ producto.price }}</p>
      <p>Ranking: {{ producto.rating.rate }}</p>
      <p>Descripción: {{ producto.description }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>