

<ion-content [fullscreen]="true">
  <button ion-button routerLink="/tomfoto">Tomar Foto</button>
  <button ion-button routerLink="/showphotos">Ver fotos</button>


  <button (click)="tomarFoto()">Tomar Foto</button>
  <a routerLink="/tomarfotos">Tomar Foto</a>
  <button ion-button routerLink="/tomfoto">Tomar Foto</button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Why</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
  </div>
</ion-content>
